h1{
    color: rgb(95, 255, 95) (255, 124, 101) ;
    font-size: 50 px;
}
h2{
    color: rgb(0, 78, 194);
    font-size: 30 px ;
}
#aparte p{
    font-style: italic;
}
h3{
    font-size: 20 px;
}
button{
    border-color: rgb(255, 124, 101);
    font-style: italic;
}