* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: lato;
    font-size: 18px;
    height: 100%;
}

a {
    text-decoration: none;
}

.contenedorlogoindex {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 12%;
}

.logoindex {
    width: 60%;
    height: auto;
}

.mainindex {
    font-family: lato;
    margin: 6% 12% 12% 12%;
    font-family: lato;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentacionindex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.seccionfotoindex {
    position: relative;
    display: inline-block;
}

.espiral {
    width: 30%;
    height: auto;
    position: absolute;
    animation-name: giro;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes giro {
    from {
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg); 
    }
}

.fotonadia {
    width: 384px;
    height: 384px;
    border-radius: 384px;
    border: 9px solid #FF489B;
}

.textopresentacion {
    width: 42%;
    color: #FF489B;
    font-size: 3em;
}

.italicablack {
    font-family: lato; 
    font-style: italic;
    font-weight: 900;
}

.black {
    font-family: lato;
    font-weight: 900;
}

.seccionflor {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 12%;
    padding-top: 6%;
    padding-bottom: 6%;
}

.flor {
    width: 20%;
    height: auto;
    animation-name: giro;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes giro {
    from {
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg); 
    }
}

.navindex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    gap: 4%;
}

.boton2index, .boton3index, .boton4index {
    font-size: 1.5em;
    font-weight: 900;
    color: #FF489B;
    border-radius: 10px;
    border: 2px solid #FF489B;
    background-color: transparent;
    padding: 7px;
}

.boton2index:hover, .boton3index:hover, .boton4index:hover {
    font-size: 1.5em;
    background-color: #FF489B;
    color: white;
}

.navcv, .navcontacto, .navproyectos {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-left: 12%;
    margin-right: 12%;
    display: flex;
    justify-content: space-between;
}

.logodelnav {
    width: 5%;
    height: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.botonesnav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1%;
}

.boton1, .boton2, .boton3, .boton4 {
    font-family: lato;
    font-style: normal;
    font-size: 0.8em;
    color: #FF489B;
    border-radius: 10px;
    border: 1px solid #FF489B;
    background-color: transparent;
    padding: 6px;
}

.boton1:hover, .boton2:hover, .boton3:hover, .boton4:hover {
    font-size: 0.8em;
    background-color: #FF489B;
    color: white;
}

footer {
    background-color: #283F68;
    background-size: 100%;
}

.piedepag {
    color: #FF489B;
    font-family: lato;
    font-style: normal;
    font-size: 0.8em;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-left: 6%;
    margin-right: 6%;
}

.navcv .boton2 {
    font-weight: 900;
    color: #FF489B;
    border-radius: 10px;
    border: 2px solid #FF489B;
    background-color: transparent;
    padding: 6px;
}

.maincv {
    margin: 6% 24% 12% 24%;
    font-family: lato;
    color: #283F68;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 1.8em;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 2%;
    color: #FF489B;
}

h3 {
    font-weight: 700;
    font-style: italic; 
}

p, li {
    line-height: 1.2;
}

.primeraseccion, .terceraseccion {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.contenedorfilete {
    padding-top: 12%;
}

.filete {
    background-color: #283F68;
    width: 100%;
    height: 5px;
    border-radius: 10px;
}

.segundaseccion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 12%;
}

.contenedordeestudios {
    display: flex;
    justify-content: space-between;
}

.divuniversitario, .divcursos, .divsecundario {
    width: 30%;
}

.terceraseccion {
    padding-top: 12%;
}

.datospersonales, .seccionhabilidades {
    width: 30%;
} 

.divbarras {
    padding-top: 4%;
}

.barra1, .barra2, .barra3, .barra4, .barra5 {
    background-color: #283F68;
    border-radius: 10px;
    height: 12px;
    color: #FF489B;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 0.5em;
    text-align: center;
}

.barra1, .barra5 {
    width: 70%;
}

.barra2 {
    width: 50%;
}

.barra3 {
    width: 80%;
}

.barra4 {
    width: 60%;
}

.acercademi, .servicios {
    width: 60%;
}

.subtitulos {
padding-top: 2%;
}

.divbotondisponibilidad {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    padding-top: 12%;
}

.botondisponibilidad {
    text-align: center;
    font-size: 0.8em;
    font-style: normal;
    color: #FF489B;
    border-radius: 10px;
    border: 1px solid #FF489B;
    background-color: transparent;
    width: 100%;
    padding: 6px;
}

.botondisponibilidad:hover {
    background-color: #FF489B;
    color: white;
}

.navproyectos .boton3 {
    font-weight: 900;
    color: #FF489B;
    border-radius: 10px;
    border: 2px solid #FF489B;
    background-color: transparent;
    padding: 6px;
}

.mainproyectos {
    margin: 6% 12% 12% 12%;
    font-family: lato;
}

.galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotos {
    padding: 3%;
}

.galeria img{
    border-radius: 10px;
    border: 4px solid #FF489B;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.galeria img:hover {
    filter: none;
}

.navcontacto .boton4 {
    font-weight: 900;
    color: #FF489B;
    border-radius: 10px;
    border: 2px solid #FF489B;
    background-color: transparent;
    padding: 6px;
}

.maincontacto {
    margin: 6% 24% 6% 24%;
    font-family: lato;
    color: #283F68;
}

.contenedordelformulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: #FF489B;
    border-radius: 10px;
}

.titulocontacto {
    padding-bottom: 0%;
}

.contenedordelformulario h3 {
    padding-bottom: 1%;
}

.superior, .medio, .inferior {
    padding-top: 5%;
}

.superior {
    display: flex;
    gap: 6%;
}

label {
    padding-bottom: 2%;
}

input {
    background-color: transparent;
    border: 1px solid #283F68;
    border-radius: 10px;
    height: 24px;
}

input:focus{
    border: 2px solid #FF489B;
}

.sobreelcampo {
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
}

.inferior {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

textarea {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border-radius: 10px;
    font-family: lato;
    border: 1px solid #283F68;
}

.botonborrar, .botonenviar {
    text-align: center;
    font-size: 0.8em;
    font-style: normal;
    color: #FF489B;
    border-radius: 10px;
    border: 1px solid #FF489B;
    background-color: transparent;
    padding: 6px;
    width: 30%;
}

.botonborrar:hover, .botonenviar:hover {
    background-color: #FF489B;
    color: white;
}

.seccionflecha {
    display: flex;
    justify-content: flex-end;
    padding-top: 6%;
    padding-bottom: 0%;
}

.seccionflecha img {
    width: 40%;
    height: auto;
}


