html {
    scroll-behavior: smooth;
}


body {
    margin: 50px 70px 0% 70px;
    padding: 0%;
    background-image: url(imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    cursor: url(imagenes/cursor1.png), auto
}

nav{
    position: fixed;
    top: 50px;
    right: 70px;
}

.boton1,.boton2 {
    transition: transform 0.5s ease;
    background-color: #223E66;
    height: 20px 20px;
    padding: 20px;
    margin-left: 5px;
    text-align: center;
    color: white;
    border-radius: 20%;
    border: none;
    font-family: archivo;
    font-weight: bold;
    cursor: url(imagenes/cursor2.png), auto
}

.boton1:hover {
    background-color: white;
    color: #223E66;
}
.boton2:hover {
    background-color: white;
    color: #223E66;
}

h1 {
    font-family: archivo;
    font-weight: bold;
    font-style: italic;
    color: #d6326e;
}

.fotoredondeada {
    border-radius: 20px;
}

h2 {
    font-family: archivo;
    font-weight: bold;
    color: #D6326E;
}

h3 {
    font-family: archivo;
    font-weight: bold;
}

.nombres {
    font-style: italic;
}

.bajada {
    font-family: archivo;
    font-style: italic;
}

ul,ol,li,p {
    font-family: archivo;
    font-style: normal;
}

ul li {
    list-style-type: circle;
}

ol li {
    list-style-type: decimal;
}

dt {
    font-family: archivo;
    font-weight: bold;
}

dd {
    margin-left: 0%;
    font-family: archivo;
    font-style: normal;
}

.textolargo {
    font-family: archivo;
    font-style: italic;
}

#datitos {
    background-color: #223E66; 
    margin: 0;
    height: 20px;
    width: 100%;
    padding: 20px;
    text-align: center;
}
 
.dato1,.dato2,.dato3 {
    text-align: center;
    margin: 60px;
    cursor: url(imagenes/cursor2.png), auto
}




